@using ShopWebModels.Catalog.User
@model LoginRequest

<table class="table table-bordered">
    <tr><th> I AM ALREADY REGISTERED  </th></tr>
    <tr>
        <td>
            <form class="form-horizontal" asp-action="Index" asp-controller="Login">
                <div class="control-group">
                    <label class="control-label" asp-for="UserLogin">Username</label>
                    <div class="controls">
                        <input asp-for="UserLogin" class="form-control" />
                        <span asp-validation-for="UserLogin" class="text-danger"></span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" asp-for="PassWord">Password</label>
                    <div class="controls">
                        <input asp-for="PassWord" type="password" class="form-control" />
                        <span asp-validation-for="PassWord" class="text-danger"></span>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <button type="submit" class="btn">Sign in</button> OR <a href="_RegisterForm.html" class="btn">Register Now!</a>
                    </div>
                </div>
                <div class="control-group">
                    <div class="controls">
                        <a href="forgetpass.html" style="text-decoration:underline">Forgot password ?</a>
                    </div>
                </div>
            </form>
        </td>
    </tr>
</table>		