@using System.Threading;
@{
    var mess = TempData["thongbao"] as string;

}
<script>
    setTimeout(function () {
        $('#active').fadeOut('slow');
    }, 2000);
</script>
@if (!string.IsNullOrEmpty(mess))
{
    <div id="active" class="alert alert-dismissible alert-warning fade show " role="alert">
        <strong>@mess</strong>
        <button type="button" class="btn-close" data-dismiss="alert" aria-label="close">
            <span aria-hidden="true">
                &times;
            </span>
        </button>
    </div>
}